* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

span {
    font-family: monospace;
    color: #504e4e;
    font-size: 3rem;
}

button {
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    padding: 5px 20px;
    margin: 5px;
    width: 120px;
}